<ion-view view-title="{{ 'HOME.VIEW-TITLE' | translate }}" hide-nav-bar="true">
  <ion-content>
    <div class="home-cta">
      <div class="home-cta__header">
        <h2 class="home-cta__title">
          Number Kubb
        </h2>
        <p class="home-cta__subtitle">
           Bringing world class quality<br>to the game
        </p>
      </div>
      <div class="home-cta__cta-wrapper">
        <button class="button icon ion-ios-cart"></button>
      </div>
    </div>
    <div class="padding" style="position: absolute; width: 100%;left: 0; top: 53%;transform:translateY(-50%)">
      <img src="https://cdn-az.allevents.in/banners/3ec3796cd90f71f61849e55770fb1041" style="display:block;max-width:80%;margin: auto;">
    </div>
    <div class="padding" style="position: absolute; width: 100%;left: 0; bottom: 0;">
      <button class="button button-block button-positive" ng-click="home.addPlayersToGameModal.show()">
        {{ 'HOME.START.BUTTON-TITLE' | translate }}
      </button>
      <a class="button button-block button-stable" href="#/tab/home/settings">
        {{ 'HOME.SETTINGS.BUTTON-TITLE' | translate }}
      </a>
    </div>
  </ion-content>
</ion-view>
