<ion-view view-title="{{ 'HOME.VIEW-TITLE' | translate }}" hide-nav-bar="true">
  <ion-content>
    <div class="home-cta">
      <div class="home-cta__header">
        <h2 class="home-cta__title">
          Number Kubb
        </h2>
        <p class="home-cta__subtitle" translate="{{ 'HOME.SPLASH.SUBTITLE' }}"></p>
      </div>
      <div class="home-cta__cta-wrapper">
        <button class="button button-light icon ion-ios-cart"></button>
        <div class="home-cta__cta-info">
          <span class="home-cta__cta-info__text">{{ 'HOME.SPLASH.CTA' | translate }}</span>
          <img class="home-cta__cta-info__image" src="/img/cta-arrow.png">
        </div>
      </div>
    </div>
    <div class="home-hero">
      <img class="home-hero__image" src="/img/hero.jpeg">
    </div>
    <div class="home-buttons">
      <button class="button button-block button-positive" ng-click="home.addPlayersToGameModal.show()">
        {{ 'HOME.START.BUTTON-TITLE' | translate }}
      </button>
      <a class="button button-block button-stable" href="#/tab/home/settings">
        {{ 'HOME.SETTINGS.BUTTON-TITLE' | translate }}
      </a>
    </div>
  </ion-content>
</ion-view>
