<ion-view view-title="{{ 'HOME.SETTINGS.VIEW-TITLE' | translate }}">
    <div class="tabs-striped tabs-top tabs-background-positive tabs-color-light">
        <div class="tabs">
            <span class="tab-item active" ng-click="settings.setTabIndex(0)" ng-class="{'active': settings.activeTabIndex === 0}">
                {{ 'HOME.SETTINGS.TABS.GAME.TITLE' | translate }}
            </span>
            <span class="tab-item" ng-click="settings.setTabIndex(1)" ng-class="{'active': settings.activeTabIndex === 1}">
                {{ 'HOME.SETTINGS.TABS.APP.TITLE' | translate }}
            </span>
        </div>
    </div>
    <ion-content class="has-tabs-top">
        <div ng-show="settings.activeTabIndex === 0">
            <div class="padding-bottom">
                <ion-toggle ng-model="settings.parameters.game.isCustom">
                    <span>{{ 'HOME.SETTINGS.TABS.GAME.CUSTOM-TOGGLE.LABEL' | translate }}</span>
                </ion-toggle>
            </div>
            <!-- toggle statistics recordings when custom -->
            <ion-checkbox ng-disabled="!settings.parameters.game.isCustom" ng-class="{'disabled': !settings.parameters.game.isCustom}" ng-model="settings.parameters.game.enableCustomStatistics">{{ 'HOME.SETTINGS.TABS.GAME.STATISTICS-TOGGLE.LABEL' | translate }}</ion-checkbox>
            <!-- winning score question -->
            <div class="list card" ng-class="{'disabled': !settings.parameters.game.isCustom}">
                <div class="item item-divider">
                    {{ 'HOME.SETTINGS.TABS.GAME.WINNING-SCORE.TITLE' | translate }}
                </div>
                <ion-radio ng-disabled="!settings.parameters.game.isCustom" name="radio-winning-score" ng-model="settings.parameters.game.winningScore" ng-value="option" ng-repeat="option in settings.options.game.winningScore">
                    {{ option }}
                </ion-radio>
            </div>
            <!-- winning score exceeded question -->
            <div class="list card" ng-class="{'disabled': !settings.parameters.game.isCustom}">
                <div class="item item-divider">
                    {{ 'HOME.SETTINGS.TABS.GAME.WINNING-SCORE-EXCEEDED.TITLE' | translate }}
                </div>
                <ion-radio ng-disabled="!settings.parameters.game.isCustom" name="radio-winning-score-exceeded" ng-model="settings.parameters.game.winningScoreExceeded" ng-value="option" ng-repeat="option in settings.options.game.winningScoreExceeded">
                    {{ 'HOME.SETTINGS.TABS.GAME.WINNING-SCORE-EXCEEDED.OPTION-' + ($index + 1) | translate }}
                </ion-radio>
            </div>
            <!-- three misses question -->
            <div class="list card" ng-class="{'disabled': !settings.parameters.game.isCustom}">
                <div class="item item-divider">
                    {{ 'HOME.SETTINGS.TABS.GAME.THREE-MISSES.TITLE' | translate }}
                </div>
                <ion-radio ng-disabled="!settings.parameters.game.isCustom" name="radio-three-misses" ng-model="settings.parameters.game.threeMisses" ng-value="option" ng-repeat="option in settings.options.game.threeMisses">
                    {{ 'HOME.SETTINGS.TABS.GAME.THREE-MISSES.OPTION-' + ($index + 1) | translate }}
                </ion-radio>
            </div>
            <ion-list>
                <ion-item class="item-icon-left">
                    <i class="icon ion-ios-information-outline" ng-click="settings.showZapInfo($event)"></i>
                    <ion-toggle ng-disabled="!settings.parameters.game.isCustom" ng-model="settings.parameters.game.enableZap" ng-class="{'disabled': !settings.parameters.game.isCustom}">
                        <span>{{ 'HOME.SETTINGS.TABS.GAME.ZAP-TOGGLE.LABEL' | translate }}</span>
                    </ion-toggle>
                </ion-item>
            </ion-list>
        </div>
        <div ng-show="settings.activeTabIndex === 1">
            <div class="list card">
                <div class="item item-divider">
                    {{ 'HOME.SETTINGS.TABS.APP.LANGUAGE.TITLE' | translate }}
                </div>
                <ion-radio name="radio-language" ng-model="settings.parameters.app.language" ng-value="option.key" ng-repeat="option in settings.options.app.language">
                    {{ option.value }}
                </ion-radio>
            </div>
            <ion-toggle ng-model="settings.parameters.app.showTutorialInvite">
                <span>{{ 'HOME.SETTINGS.TABS.APP.TUTORIAL.LABEL' | translate }}</span>
            </ion-toggle>
        </div>
    </ion-content>
</ion-view>
