<ion-view view-title="{{ 'HOME.SETTINGS.VIEW-TITLE' | translate }}">
    <div class="tabs-striped tabs-top tabs-background-positive tabs-color-light">
        <div class="tabs">
            <span class="tab-item active" ng-click="settings.activeTabIndex = 0" ng-class="{'active': settings.activeTabIndex === 0}">
                {{ 'HOME.SETTINGS.TABS.GAME.TITLE' | translate }}
            </span>
            <span class="tab-item" ng-click="settings.activeTabIndex = 1" ng-class="{'active': settings.activeTabIndex === 1}">
                {{ 'HOME.SETTINGS.TABS.APP.TITLE' | translate }}
            </span>
        </div>
    </div>
    <ion-content class="has-tabs-top">
        <div ng-show="settings.activeTabIndex === 0">
            <ion-toggle ng-model="settings.gameCustomSetting" ng-change="settings.toggleGameCustomSetting()">
                <span ng-show="settings.gameCustomSetting">{{ 'HOME.SETTINGS.TABS.GAME.CUSTOM-TOGGLE.ON' | translate }}</span>
                <span ng-show="!settings.gameCustomSetting">{{ 'HOME.SETTINGS.TABS.GAME.CUSTOM-TOGGLE.OFF' | translate }}</span>
            </ion-toggle>
            <!-- winning score question -->
            <div class="list card" ng-class="{'disabled': !settings.gameCustomSetting}">
                <div class="item item-divider">
                    {{ 'HOME.SETTINGS.TABS.GAME.WINNING-SCORE.TITLE' | translate }}
                </div>
                <ion-radio ng-disabled="!settings.gameCustomSetting" name="radio-winning-score" ng-model="settings.winningScore" ng-value="option.value" ng-change="settings.setWinningScore(option.value)" ng-repeat="option in settings.winningScoreOptions">
                    {{ option.value }}
                </ion-radio>
            </div>
            <!-- winning score exceeded question -->
            <div class="list card" ng-class="{'disabled': !settings.gameCustomSetting}">
                <div class="item item-divider">
                    {{ 'HOME.SETTINGS.TABS.GAME.WINNING-SCORE-EXCEEDED.TITLE' | translate }}
                </div>
                <ion-radio ng-disabled="!settings.gameCustomSetting" ng-model="settings.winningScoreExceeded" ng-value="option.value" ng-change="settings.setWinningScoreExceeded(option.value)" ng-repeat="option in settings.winningScoreExceededOptions">
                    {{ 'HOME.SETTINGS.TABS.GAME.WINNING-SCORE-EXCEEDED.OPTION-' + ($index + 1) | translate }}
                </ion-radio>
            </div>
            <!-- three misses question -->
            <div class="list card" ng-class="{'disabled': !settings.gameCustomSetting}">
                <div class="item item-divider">
                    {{ 'HOME.SETTINGS.TABS.GAME.THREE-MISSES.TITLE' | translate }}
                </div>
                <ion-radio ng-disabled="!settings.gameCustomSetting" name="radio-three-misses" ng-model="settings.threeMisses" ng-value="option.value" ng-change="settings.setThreeMisses(option.value)" ng-repeat="option in settings.threeMissesOptions">
                    {{ 'HOME.SETTINGS.TABS.GAME.THREE-MISSES.OPTION-' + ($index + 1) | translate }}
                </ion-radio>
            </div>
        </div>
        <div ng-show="settings.activeTabIndex === 1">
            <div class="list card">
                <div class="item item-divider">
                    {{ 'HOME.SETTINGS.TABS.APP.LANGUAGE.TITLE' | translate }}
                </div>
                <ion-radio name="radio-language" ng-model="settings.activeLanguageKey" ng-value="language.key" ng-change="settings.setLanguageKey(language.key)" ng-repeat="language in settings.languageOtions">
                    {{ language.value }}
                </ion-radio>
            </div>
        </div>
    </ion-content>
</ion-view>
