<ion-view view-title="{{ 'HOME.SETTINGS.VIEW-TITLE' | translate }}">
    <div class="tabs-striped tabs-top tabs-background-positive tabs-color-light">
        <div class="tabs">
            <span class="tab-item active" ng-click="settings.activeTabIndex = 0" ng-class="{'active': settings.activeTabIndex === 0}">
                {{ 'HOME.SETTINGS.TABS.GAME.TITLE' | translate }}
            </span>
            <span class="tab-item" ng-click="settings.activeTabIndex = 1" ng-class="{'active': settings.activeTabIndex === 1}">
                {{ 'HOME.SETTINGS.TABS.APP.TITLE' | translate }}
            </span>
        </div>
    </div>
    <ion-content class="has-tabs-top">
        <div ng-show="settings.activeTabIndex === 0">
            <ion-toggle ng-model="settings.parameters.game.isCustom">
                <span ng-show="settings.parameters.game.isCustom">{{ 'HOME.SETTINGS.TABS.GAME.CUSTOM-TOGGLE.ON' | translate }}</span>
                <span ng-show="!settings.parameters.game.isCustom">{{ 'HOME.SETTINGS.TABS.GAME.CUSTOM-TOGGLE.OFF' | translate }}</span>
            </ion-toggle>
            <!-- winning score question -->
            <div class="list card" ng-class="{'disabled': !settings.parameters.game.isCustom}">
                <div class="item item-divider">
                    {{ 'HOME.SETTINGS.TABS.GAME.WINNING-SCORE.TITLE' | translate }}
                </div>
                <ion-radio ng-disabled="!settings.parameters.game.isCustom" name="radio-winning-score" ng-model="settings.parameters.game.winningScore" ng-value="option" ng-repeat="option in settings.options.game.winningScore">
                    {{ option }}
                </ion-radio>
            </div>
            <!-- winning score exceeded question -->
            <div class="list card" ng-class="{'disabled': !settings.parameters.game.isCustom}">
                <div class="item item-divider">
                    {{ 'HOME.SETTINGS.TABS.GAME.WINNING-SCORE-EXCEEDED.TITLE' | translate }}
                </div>
                <ion-radio ng-disabled="!settings.parameters.game.isCustom" name="radio-winning-score-exceeded" ng-model="settings.parameters.game.winningScoreExceeded" ng-value="option" ng-repeat="option in settings.options.game.winningScoreExceeded">
                    {{ 'HOME.SETTINGS.TABS.GAME.WINNING-SCORE-EXCEEDED.OPTION-' + ($index + 1) | translate }}
                </ion-radio>
            </div>
            <!-- three misses question -->
            <div class="list card" ng-class="{'disabled': !settings.parameters.game.isCustom}">
                <div class="item item-divider">
                    {{ 'HOME.SETTINGS.TABS.GAME.THREE-MISSES.TITLE' | translate }}
                </div>
                <ion-radio ng-disabled="!settings.parameters.game.isCustom" name="radio-three-misses" ng-model="settings.parameters.game.threeMisses" ng-value="option" ng-repeat="option in settings.options.game.threeMisses">
                    {{ 'HOME.SETTINGS.TABS.GAME.THREE-MISSES.OPTION-' + ($index + 1) | translate }}
                </ion-radio>
            </div>
        </div>
        <div ng-show="settings.activeTabIndex === 1">
            <div class="list card">
                <div class="item item-divider">
                    {{ 'HOME.SETTINGS.TABS.APP.LANGUAGE.TITLE' | translate }}
                </div>
                <ion-radio name="radio-language" ng-model="settings.parameters.app.language" ng-value="option.key" ng-repeat="option in settings.options.app.language">
                    {{ option.value }}
                </ion-radio>
            </div>
        </div>
    </ion-content>
</ion-view>
