/*  Avaatart Colors
    ================================================================ */
$avatar-placeholder: #bdbdbd;
$guest-pink: #FF5DE7;
$guest-blonde: #F2D300;
$guest-orange: #FF8704;
$guest-white: #FFFFFF;
$guest-brown: #682A01;
$guest-blue: #01B7FF;
