/*  Avaatart Colors
    ================================================================ */
$avatar-placeholder: #bdbdbd;
$avatar-placeholder-light: #efefef;
$guest-pink: #E91E63;
$guest-blonde: #F2D300;
$guest-orange: #FF8704;
$guest-white: #FFFFFF;
$guest-brown: #682A01;
$guest-blue: #01B7FF;
$guest-green: #388E3C;
$guest-purple: #7B1FA2;
