@font-face {
    font-family: 'roboto-regular';
    src: local('Champion-regular'),
         url('../lib/ionic/fonts/roboto/Roboto-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'roboto-bold';
    src: local('Champion-medium'),
         url('../lib/ionic/fonts/roboto/Roboto-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'roboto-black';
    src: local('Champion-medium'),
         url('../lib/ionic/fonts/roboto/Roboto-Black.ttf') format('truetype');
}
