<ion-popover-view>
    <ion-header-bar>
        <h1 class="title" translate="{{viewModel.titleTranslationId}}" translate-values="{progressStep: viewModel.progressStep, progressSteps: viewModel.progressSteps}"></h1>
    </ion-header-bar>
    <ion-content class="padding">
        <p translate="{{viewModel.textTranslationId}}"></p>
        <br>
    </ion-content>
    <ion-footer-bar>
        <div class="buttons pull-right">
            <button class="button" ng-click="viewModel.triggerProceed(viewModel.progressStep + 1)">
                <span ng-if="viewModel.progressStep < viewModel.progressSteps">
                    {{ 'HOME.TUTORIAL.INFO-POPOVER.NEXT' | translate }}
                </span>
                <span ng-if="viewModel.progressStep === viewModel.progressSteps">
                    {{ 'HOME.TUTORIAL.INFO-POPOVER.FINISH' | translate }}
                </span>
            </button>
        </div>
    </ion-footer-bar>
</ion-popover-view>
