<ion-popover-view>
    <ion-header-bar>
        <h1 class="title" translate="{{viewModel.titleTranslationId}}"></h1>
    </ion-header-bar>
    <ion-content class="padding">
        <h5 class="popover__content-title">
            subtitle
        </h5>
        <p translate="{{viewModel.textTranslationId}}"></p>
        <span>
            {{viewModel.progressStep}}/{{viewModel.progressSteps}}
        </span>
        <button ng-click="viewModel.triggerProceed(viewModel.progressStep + 1)" class="button button-positive">
          next
        </button>
        <br>
    </ion-content>
</ion-popover-view>
