<ion-modal-view>
    <ion-header-bar class="bar bar-header bar-positive">
        <h1 class="title">{{ 'HOME.START.START-PLAYERS-MODAL.TITLE' | translate }}</h1>
        <button class="button" ng-click="viewModel.cancelAddPlayersToGame()">{{ 'HOME.START.START-PLAYERS-MODAL.BUTTON-CANCEL' | translate }}</button>
    </ion-header-bar>
    <ion-content>
        <div class="padding">
            <ion-toggle ng-model="viewModel.showReorder" ng-disabled="viewModel.participants.length < 2" ng-class="{'disabled': viewModel.participants.length < 2}">
                <span>{{ 'HOME.START.START-PLAYERS-MODAL.TOGGLE-REORDER' | translate }}</span>
            </ion-toggle>
            <button class="button button-block button-calm" ng-disabled="!viewModel.guestColors.length" ng-click="viewModel.addGuestParticipant()">
                <span>{{ 'HOME.START.START-PLAYERS-MODAL.BUTTON-ADD-GUEST' | translate }}</span>
            </button>
        </div>
        <div class="row row-top">
            <div class="col col-50">
                <ion-list>
                    <div class="item item-divider">
                        <span ng-if="!viewModel.isTeamMode">{{ 'HOME.START.START-PLAYERS-MODAL.DATABASE-LIST-HEADER-PLAYERS' | translate }}</span>
                        <span ng-if="viewModel.isTeamMode">{{ 'HOME.START.START-PLAYERS-MODAL.DATABASE-LIST-HEADER-TEAMS' | translate }}</span>
                    </div>
                    <div ng-if="viewModel.isTeamMode && !viewModel.teamsInDatabase.length" class="info-block info-block--no-margin" translate={{'HOME.START.START-PLAYERS-MODAL.NO-TEAMS'}}></div>
                    <!-- player list -->
                    <ion-item ng-if="!viewModel.isTeamMode" class="item-avatar item-avatar--small" ng-click="viewModel.addPlayerToParticipants(player)" ng-repeat="player in viewModel.playersInDatabase | orderBy: 'firstName'">
                        <div ng-if="player.face" class="item-avatar__avatar">
                            <img ng-src="{{player.face}}">
                        </div>
                        <div ng-if="!player.face" class="item-avatar__face-placeholder"></div>
                        <h2>{{player.firstName}} {{player.lastName}}</h2>
                    </ion-item>
                    <!-- team list -->
                    <ion-item ng-if="viewModel.isTeamMode" class="item-avatar item-avatar--small" ng-click="viewModel.addTeamToParticipants(team)" ng-repeat="team in viewModel.teamsInDatabase | orderBy: 'name'">
                        <div class="item-avatar__team-avatar" data-count="{{team.players.length}}">
                            <div ng-repeat="player in team.players | orderBy: 'name'">
                              <img ng-if="player.face" ng-src="{{player.face}}">
                            </div>
                        </div>
                        <h2>{{team.name}}</h2>
                    </ion-item>
                </ion-list>
            </div>
            <div class="col col-50">
                <ion-list show-reorder="viewModel.showReorder">
                    <div class="item item-divider">
                        {{ 'HOME.START.START-PLAYERS-MODAL.PARTICIPANTS-LIST-HEADER' | translate }}
                        <span ng-show="viewModel.participants.length">({{viewModel.participants.length}})</span>
                    </div>
                    <!-- player list -->
                    <ion-item ng-if="!viewModel.isTeamMode" class="item-avatar item-avatar--small" ng-click="viewModel.removeFromParticipants($index)" ng-repeat="player in viewModel.participants">
                        <div ng-if="player.face" class="item-avatar__avatar">
                            <img ng-src="{{player.face}}">
                        </div>
                        <div ng-if="!player.face" class="item-avatar__face-placeholder {{player.guestColor}}"></div>
                        <h2>{{player.firstName}} {{player.lastName}}</h2>
                        <ion-reorder-button class="ion-navicon" on-reorder="viewModel.reorderParticipant(player, $fromIndex, $toIndex)"></ion-reorder-button>
                    </ion-item>
                    <!-- team list -->
                    <ion-item ng-if="viewModel.isTeamMode" class="item-avatar item-avatar--small" ng-click="viewModel.removeFromParticipants($index)" ng-repeat="team in viewModel.participants">
                        <!-- <div ng-if="player.face" class="item-avatar__avatar">
                            <img ng-src="{{player.face}}">
                        </div> -->
                        <div ng-if="team.guestColor" class="item-avatar__face-placeholder {{team.guestColor}}"></div>
                        <div ng-if="!team.guestColor" class="item-avatar__team-avatar" data-count="{{team.players.length}}">
                            <div ng-repeat="player in team.players | orderBy: 'name'">
                              <img ng-if="player.face" ng-src="{{player.face}}">
                            </div>
                        </div>
                        <h2>{{team.name}}</h2>
                        <ion-reorder-button class="ion-navicon" on-reorder="viewModel.reorderParticipant(team, $fromIndex, $toIndex)"></ion-reorder-button>
                    </ion-item>
                </ion-list>
            </div>
        </div>
    </ion-content>
    <ion-footer-bar>
        <button class="button button-clear button-positive" ng-click="viewModel.toggleTeamMode()">
            <span ng-if="!viewModel.isTeamMode">{{ 'HOME.START.START-PLAYERS-MODAL.PLAY-AS-TEAM' | translate }}</span>
            <span ng-if="viewModel.isTeamMode">{{ 'HOME.START.START-PLAYERS-MODAL.PLAY-INDIVIDUALLY' | translate }}</span>
        </button>
        <button class="button button-positive pull-right" ng-disabled="viewModel.participants.length < 2" ng-click="viewModel.startGame()">{{ 'HOME.START.START-PLAYERS-MODAL.BUTTON-START-GAME' | translate }}</button>
    </ion-footer-bar>
</ion-modal-view>
