<ion-view view-title="Statistics">
    <ion-content>
        <div class="list">
            <div class="item item-divider">
                Individual mode
            </div>
            <a class="item item-icon-left item-icon-right" href="#/tab/statistics/listing">
                <i class="icon ion-ios-information-outline"></i>
                    Hall of Fame
                <i class="icon ion-chevron-right icon-accessory"></i>
            </a>
            <a class="item item-icon-left item-icon-right" href="#">
                <i class="icon ion-ios-information-outline"></i>
                    Most effective
                <i class="icon ion-chevron-right icon-accessory"></i>
            </a>
            <a class="item item-icon-left item-icon-right" href="#">
                <i class="icon ion-ios-information-outline"></i>
                    Most accurate
                <i class="icon ion-chevron-right icon-accessory"></i>
            </a>
            <div class="item item-divider">
                Team mode
            </div>
            <a class="item item-icon-left item-icon-right" href="#">
                <i class="icon ion-ios-information-outline"></i>
                    Hall of Fame
                <i class="icon ion-chevron-right icon-accessory"></i>
            </a>
            <a class="item item-icon-left item-icon-right" href="#">
                <i class="icon ion-ios-information-outline"></i>
                    Most effective
                <i class="icon ion-chevron-right icon-accessory"></i>
            </a>
            <a class="item item-icon-left item-icon-right" href="#">
                <i class="icon ion-ios-information-outline"></i>
                    Most accurate
                <i class="icon ion-chevron-right icon-accessory"></i>
            </a>
        </div>
    </ion-content>
</ion-view>
