<ion-view view-title="{{ 'HOME.STATISTICS.METRICS.' + listing.metric.translationId + '.VIEW-TITLE' | translate }}">
  <ion-content class="padding">
    <span ng-if="listing.metric.unit" class="info-block">
        {{ 'HOME.STATISTICS.LISTING.FILTER' | translate }}
    </span>
    <ion-list class="list--numbered-avatar">
        <ion-item class="item-avatar item-icon-right numbered" ng-repeat="player in listing.players | filter: listing.minGamesFilter | orderBy: ['-statistics.' + listing.metric.keyName, 'firstName']">
            <img ng-if="player.face" ng-src="{{player.face}}">
            <div ng-if="!player.face" class="item-avatar__face-placeholder {{player.guestColor}}"></div>
            <h2>{{player.firstName}} {{player.lastName}}</h2>
            <p>{{player.tagline}}</p>
            <i class="icon note">
                {{player.statistics[listing.metric.keyName] + listing.metric.unit}}
            </i>
        </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
