<ion-view view-title="Statistics">
    <!-- <ion-nav-buttons side="secondary">
        <button class="button button-icon ion-ios-information-outline" ng-click="statistics.statisticsInfoModal.show()"></button>
    </ion-nav-buttons> -->
    <ion-content>
        <span ng-if="statistics.customGameSettings" class="info-block">
            {{ 'HOME.STATISTICS.INFO-BLOCK.TEXT' | translate }}
        </span>
        <ion-list class="statistics-title-listing">
            <div class="item item-divider">
                Overall
            </div>
            <ion-item class="item-icon-left item-icon-right" ng-repeat="metric in statistics.metrics | filter: {category: 'overall'}">
                <i class="icon ion-ios-information-outline" ng-click="statistics.showItemInfo($event, metric)"></i>
                {{ 'HOME.STATISTICS.METRICS.' + metric.translationId + '.VIEW-TITLE' | translate }}
                <span class="badge badge-positive">
                    {{ statistics.overallStatistics[metric.keyName] }}
                </span>
            </ion-item>
            <div class="item item-divider">
                Players
            </div>
            <ion-item class="item-icon-left item-icon-right" ng-repeat="metric in statistics.metrics  | filter: {category: 'players'}" href="#/tab/statistics/{{metric.id}}">
                <i class="icon ion-ios-information-outline" ng-click="statistics.showItemInfo($event, metric)"></i>
                {{ 'HOME.STATISTICS.METRICS.' + metric.translationId + '.VIEW-TITLE' | translate }}
                <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
