<ion-modal-view>
    <ion-header-bar class="bar bar-header bar-positive">
        <h1 class="title">{{ 'HOME.START.START-PLAYERS-MODAL.TITLE' | translate }}</h1>
        <button class="button" ng-click="home.cancelAddPlayersToGame()">{{ 'HOME.START.START-PLAYERS-MODAL.BUTTON-CANCEL' | translate }}</button>
    </ion-header-bar>
    <ion-content>
        <div class="padding">
            <ion-toggle ng-model="home.showReorder" ng-disabled="home.participants.length < 2" ng-class="{'disabled': home.participants.length < 2}">
                <span>{{ 'HOME.START.START-PLAYERS-MODAL.TOGGLE-REORDER' | translate }}</span>
            </ion-toggle>
            <button class="button button-block button-calm" ng-disabled="!home.guestColors.length" ng-click="home.addGuestParticipant()">
                <span>{{ 'HOME.START.START-PLAYERS-MODAL.BUTTON-ADD-GUEST' | translate }}</span>
            </button>
        </div>
        <div class="row">
            <div class="col col-50">
                <ion-list>
                    <div class="item item-divider">
                        {{ 'HOME.START.START-PLAYERS-MODAL.DATABASE-LIST-HEADER' | translate }}
                    </div>
                    <ion-item class="item-avatar item-avatar--small" ng-click="home.addPlayerToParticipants(player)" ng-repeat="player in home.playersInDatabase | orderBy: 'name'">
                        <img ng-if="player.face" ng-src="{{player.face}}">
                        <div ng-if="!player.face" class="item-avatar__face-placeholder"></div>
                        <h2>{{player.name}}</h2>
                    </ion-item>
                </ion-list>
            </div>
            <div class="col col-50">
                <ion-list show-reorder="home.showReorder">
                    <div class="item item-divider">
                        {{ 'HOME.START.START-PLAYERS-MODAL.PARTICIPANTS-LIST-HEADER' | translate }}
                        <span ng-show="home.participants.length">({{home.participants.length}})</span>
                    </div>
                    <ion-item class="item-avatar item-avatar--small" ng-click="home.removePlayerFromParticipants($index)" ng-repeat="player in home.participants">
                        <img ng-if="player.face" ng-src="{{player.face}}">
                        <div ng-if="!player.face" class="item-avatar__face-placeholder {{player.guestColor}}"></div>
                        <h2>{{player.name}}</h2>
                        <ion-reorder-button class="ion-navicon" on-reorder="home.reorderParticipant(player, $fromIndex, $toIndex)"></ion-reorder-button>
                    </ion-item>
                </ion-list>
            </div>
        </div>
    </ion-content>
    <ion-footer-bar>
        <button class="button button-positive pull-right" ng-disabled="home.participants.length < 2" ng-click="home.startGame()">{{ 'HOME.START.START-PLAYERS-MODAL.BUTTON-START-GAME' | translate }}</button>
    </ion-footer-bar>
</ion-modal-view>
