.add-avatar-block {
    width: 150px;
    margin: 30px auto 0;

    font-size: 10px;
    line-height: 12px;

    & > .avatar-block__avatar {
        position: relative;
    }
}

.add-avatar-block__buttons {
    position: relative;

    height: 50px;

    text-align: center;

    & > .button:first-child {
        position: absolute;
        left: -20px;

        float: left;
    }

    & > .button:last-child {
        position: absolute;
        right: -20px;

        float: right;
    }
}

.add-avatar-block__placeholder {
    height: 150px;
    padding: 0;
    border-radius: 50%;

    text-align: center;

    background: $avatar-placeholder-light;
}
