.avatar-block-wrapper {
    text-align: center;

    background: $positive;

    padding-bottom: 15px;

    & > .row > .col {
        text-align: center;
    }
}

.avatar-block {
    position: relative;

    padding: 30px 30px 20px;

    &:after {
        position: absolute;
        left: 30px;
        bottom: 0;

        display: block;
        width: calc(100% - 60px);
        border-bottom: 1px solid lighten($positive, 15%);

        content: "";
    }

    color: $light;

    & > img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
    }
}

.avatar-block__face-placeholder {
    position: relative;

    display: inline-block;
    width: 150px;
    height: 150px;
    border-radius: 50%;

    color: $dark;
    font-size: 50px;

    background: $avatar-placeholder;

    & > .icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
    }
}

.avatar-block__name {
    margin-top: 20px;
    font-size: 32px;
    line-height: 36px;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.avatar-block__tagline {
    font-size: 16px;
    line-height: 20px;
    color: $stable;
}
