.game-board {
    display: flex;
    flex-direction: column;

    height: 100%;
}
.row {
    flex: 1;

    & .col {
        display: flex;
        flex-direction: column;

        text-align: center;
        justify-content: center;

    }
}
