.game-board {
    display: flex;
    flex-direction: column;

    height: 100%;

    & .row {
        flex: 1;

        & .col {
            display: flex;
            flex-direction: column;

            text-align: center;
            justify-content: center;
        }
    }
}

.game-board-cell {
    display: flex;
    flex-direction: column;
    justify-content: center;

    flex: 1;
    height: 100%;
    border: 1px solid $dark;
    border-radius: 4px;

    background: $stable;
    overflow: hidden;

    &--scoreboard {
        background: $stable;

        & .row {
            padding: 1px;

            & + .row {
                margin-top: -2px;
            }

            & .col {
                padding: 1px;

                overflow: hidden;

                & .game-board-cell {
                    position: relative;
                    border: none;

                    color: $light;
                    font-size: 18px;
                    white-space: nowrap;

                    background: $avatar-placeholder;

                    &.active {

                        &:after { // assertive border
                            position: absolute;
                            top: 0;
                            left: 0;
                            z-index: 3;

                            display: block;
                            width: 100%;
                            height: 100%;
                            border: 4px solid $assertive;
                            border-radius: 4px;

                            background: transparent;

                            content: "";
                        }
                    }

                    &.winner,
                    &.finished,
                    &.disqualified {

                        &:after { // overlay on avatar
                            position: absolute;
                            top: 0;
                            left: 0;
                            z-index: 2;

                            display: block;
                            width: 100%;
                            height: 100%;

                            color: $light;
                            font-size: 34px;
                            vertical-align: middle;

                            background: rgba(#000, .5);

                            content: "";
                        }
                    }

                    &.winner {

                        &:after {
                            background: rgba($balanced, .8);
                        }
                    }

                    &.finished {

                        &:after {
                            background: rgba($balanced, .8);
                        }
                    }

                    &.disqualified {

                        &:after {
                            background: rgba($assertive, .8);
                        }
                    }

                    &.has-avatar {

                        &:before { // overlay
                            position: absolute;
                            top: 0;
                            left: 0;
                            z-index: 2;

                            display: block;
                            width: 100%;
                            height: 100%;

                            background: rgba(#000, .6);

                            content: "";
                        }
                    }

                    &.guest {

                        &.blonde {
                            color: $dark;
                            background: $guest-blonde;

                            & .icon {
                                color: $light;
                            }
                        }

                        &.orange {
                            background: $guest-orange;
                        }

                        &.pink {
                            background: $guest-pink;
                        }

                        &.white {
                            border: 1px solid #000;

                            color: $dark;
                            background: $guest-white;
                        }

                        &.brown {
                            background: $guest-brown;
                        }

                        &.blue {
                            background: $guest-blue;
                        }

                        &.green {
                            background: $guest-green;
                        }

                        &.purple {
                            background: $guest-purple;
                        }
                    }

                    & span,
                    & .icon {
                        position: relative;
                        z-index: 3;
                    }

                    & .icon {
                        font-size: 30px;
                        line-height: 34px;
                    }

                    & img {
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        transform: translateX(-50%) translateY(-50%);
                        z-index: 1;

                        width: 100%;
                        min-width: 100%;
                        border-radius: 4px;
                    }
                }
            }
        }
    }

    &--settings {
        background: $light;

        // border: none;

        & .button {
            // color: $light;

            &:before {
                margin-top: 1px;

                font-size: 40px;
                height: 47px;
                line-height: 47px;
            }
        }
    }

    &--player {
        background: $light;

        text-align: left;
        transition: background .3s ease;

        &.active {
            background: $positive;

            & * {
                color: $light;
            }
        }

        & .item {
            padding-right: 35px;
            border: none;

            background: transparent;

            & h2 {
                // font-size: 18px;
            }

            & p {
                direction: rtl;
                width: 100%;
                font-size: 10px;

                & .placeholder {
                    display: block;

                    color: $avatar-placeholder;
                    direction: ltr;
                }

                & .miss {
                    color: $light;
                    background: $assertive;
                }
            }
        }
    }

    &--score {
        font-size: 30px;

        background: $light;
        transition: background .3s ease;

        &.active {
            color: $light;

            background: $positive;
        }

        &.active.single-pin {
            background: $balanced;
        }

        &.active.zero {
            background: $assertive;
        }
    }
}
