.home-cta {
    // display: none;
    position: relative;
    z-index: 9;
    padding: 25px 10px 0;
    background: $positive;
}

.home-cta__header {
    margin: 0 auto 15px;
    max-width: 90%;

    background: $positive;

    & .home-cta__title {
        margin: 0 auto 5px;

        color: $light;
        font-size: 40px;
        font-weight: bold;

        white-space: nowrap;
    }

    & .home-cta__subtitle {
        margin: 0;

        color: $light;
        font-size: 20px;
        line-height: 24px;

        white-space: nowrap;
    }
}

.home-cta__cta-wrapper {
    position: relative;
    z-index: 1;

    height: 26px;

    text-align: center;

    background: $positive;

    & > .button { // cta button
        float: right;

        height: 52px;
        width: 52px;
        border: none;
        border-radius: 50%;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);

        color: $positive;
    }
}

/*  Call to action text
    ============================== */
.home-cta__cta-info {
    position: absolute;
    top: 50px;
    right: 45px;
    z-index: 9;

    height: 20px;
    padding: 0 5px;
    border-radius: 4px;

    font-weight: bold;
    text-align: right;

    background: rgba(#fff, .8);
}

.home-cta__cta-info__text {
    display: inline-block;
    padding-right: 5px;

    font-size: 16px;
    line-height: 20px;
}

.home-cta__cta-info__image {
    position: relative;
    top: -2px;
    float: right;

    height: 20px;
}
