.info-block {
    display: block;
    width: 75%;
    margin: 0 auto;
    padding: 10px;

    font-size: 11px;
    line-height: 15px;
    color: lighten($dark, 30%);
    text-align: center;

    &--no-margin {
        width: 100%;
    }

    .padding & {
        margin-bottom: 5px;
        padding: 0;
    }
}
