.info-block {
    display: block;
    width: 75%;
    margin: 0 auto;
    padding: 10px;

    font-size: 10px;
    line-height: 14px;
    color: lighten($dark, 30%);
    text-align: center;

    .padding & {
        margin-bottom: 5px;
        padding: 0;
    }
}
