.item-avatar--small {
    min-height: 52px;
    padding-left: 52px;

    & .item-content {
        min-height: 50px;
        padding-left: 50px;
        padding-right: 16px;

        & > img:first-child {
            top: 10px;
            left: 10px;

            max-width: 30px;
            max-height: 30px;
        }
    }

    & > img:first-child {
        top: 10px;
        left: 10px;

        max-width: 30px;
        max-height: 30px;
    }

    & h2 {
        font-size: 14px;
    }
}
