.item-divider {
    font-size: 13px;
}

.item {

    & h2 {
        font-size: 14px;
    }

    & p {
        font-size: 12px;
    }
}

// Item Left Edit Button
// -------------------------------
.item-left-edit {
    @include translate3d( ($item-left-edit-left-extra - $item-left-edit-open-width) / 2, 0, 0);

    &.visible {

        &.active {
            @include translate3d($item-left-edit-left-extra, 0, 0);
        }
    }
}
