.item-avatar {

    & .item-avatar__avatar:first-child {
        position: absolute;
        top: 16px;
        left: 16px;

        width: 40px;
        height: 40px;
        border-radius: 50%;

        overflow: hidden;

        & > img {
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);

            width: 100%;
            border-radius: 50%;
        }
    }

    & .item-avatar__team-avatar:first-child {
        position: absolute;
        top: 16px;
        left: 16px;

        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: $avatar-placeholder;

        overflow: hidden;

        white-space: nowrap;

        > div {
            position: relative;

            display: inline-block;
            height: 100%;

            font-size: 0;

            overflow: hidden;

            & > img {
                position: absolute;
                left: 50%;
                top: 0;
                transform: translateX(-50%);

                height: 100%;
            }
        }

        &[data-count="2"] {

            > div {
                width: 50%;
            }
        }

        &[data-count="3"] {

            > div {
                width: 33.3333%;
            }
        }

        &[data-count="4"] {

            > div {
                width: 25%;
            }
        }
    }

    &--small {
        min-height: 52px;
        padding-left: 52px;

        & .item-content {
            min-height: 50px;
            padding-left: 50px;
            padding-right: 16px;

            & > .item-avatar__avatar:first-child,
            & .item-avatar__team-avatar:first-child {
                top: 10px;
                left: 10px;

                width: 30px;
                height: 30px;
            }
        }

        & .item-avatar__avatar:first-child,
        & .item-avatar__team-avatar:first-child {
            top: 10px;
            left: 10px;

            width: 30px;
            height: 30px;

            & > img {
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);

                width: 100%;
            }
        }

        & h2 {
            font-size: 13px;
        }

        & .item-avatar__face-placeholder {
            top: 10px;
            left: 10px;

            width: 30px;
            height: 30px;
        }
    }

    &.warning,
    &.error,
    &.success,
    &.winner,
    &.numbered {

        &:after { // overlay on avatar
            position: absolute;
            top: 16px;
            left: 16px;
            z-index: 9;

            display: inline-block;
            width: 40px;
            height: 40px;
            border-radius: 50%;

            color: $light;
            text-align: center;

            background: rgba(#000, .45);

            content: "";
        }
    }

    &.warning {

        &:after {
            @extend .ionicons;

            padding: 3px 0;

            font-size: 30px;
            line-height: 30px;

            background: rgba($energized, .8);

            content: "\f3bc";
        }
    }

    &.error {

        &:after {
            @extend .ionicons;

            padding: 6px 0 3px;

            font-size: 30px;
            line-height: 30px;

            background: rgba($assertive, .8);

            content: "\f12a";
        }
    }

    &.success {

        &:after {
            @extend .ionicons;

            padding: 3px 0;

            font-size: 34px;
            line-height: 34px;

            background: rgba($balanced, .8);

            content: "\f122";
        }
    }

    &.winner {

        &:after {
            @extend .ionicons;

            padding: 6px 0 3px;

            font-size: 30px;
            line-height: 30px;

            background: rgba($balanced, .8);

            content: "\f356";
        }
    }

    &.numbered {

        &:after {
            font-family: $font-family-bold;
            font-size: 18px;
            line-height: 40px;

            content: counter(slideNum); // see components/_list.scss
        }
    }

    & .note {
        right: 16px;

        font-size: 20px;
    }
}

.item-avatar__face-placeholder {
    position: absolute;
    top: 16px;
    left: 16px;

    width: 40px;
    height: 40px;
    border-radius: 50%;

    background: $avatar-placeholder;

    &.blonde {
        background: $guest-blonde;
    }

    &.orange {
        background: $guest-orange;
    }

    &.pink {
        background: $guest-pink;
    }

    &.white {
        border: 1px solid #000;

        background: $guest-white;
    }

    &.brown {
        background: $guest-brown;
    }

    &.blue {
        background: $guest-blue;
    }

    &.green {
        background: $guest-green;
    }

    &.purple {
        background: $guest-purple;
    }
}
