.item-avatar {

    &--small {
        min-height: 52px;
        padding-left: 52px;

        & .item-content {
            min-height: 50px;
            padding-left: 50px;
            padding-right: 16px;

            & > img:first-child {
                top: 10px;
                left: 10px;

                max-width: 30px;
                max-height: 30px;
            }
        }

        & > img:first-child {
            top: 10px;
            left: 10px;

            max-width: 30px;
            max-height: 30px;
        }

        & h2 {
            font-size: 14px;
        }

        & .item-avatar__face-placeholder {
            top: 10px;
            left: 10px;

            width: 30px;
            height: 30px;
        }
    }

    &.warning,
    &.error,
    &.success {

        &:after { // overlay on avatar
            @extend .ionicons;

            position: absolute;
            top: 16px;
            left: 16px;
            z-index: 9;

            display: inline-block;
            width: 40px;
            height: 40px;
            padding: 3px 0;
            border-radius: 50%;

            color: $light;
            font-size: 34px;
            line-height: 34px;
            text-align: center;

            background: rgba(#000, .5);

            content: "";
        }
    }

    &.warning {

        &:after {
            font-size: 30px;
            line-height: 30px;

            background: rgba($energized, .8);

            content: "\f3bc";
        }
    }

    &.error {

        &:after {
            background: rgba($assertive, .8);

            content: "\f2d7";
        }
    }

    &.success {

        &:after {
            background: rgba($balanced, .8);

            content: "\f122";
        }
    }
}

.item-avatar__face-placeholder {
    position: absolute;
    top: 16px;
    left: 16px;

    width: 40px;
    height: 40px;
    border-radius: 50%;

    background: $avatar-placeholder;

    &.blonde {
        background: $guest-blonde;
    }

    &.orange {
        background: $guest-orange;
    }

    &.pink {
        background: $guest-pink;
    }

    &.white {
        border: 1px solid #000;

        background: $guest-white;
    }

    &.brown {
        background: $guest-brown;
    }

    &.blue {
        background: $guest-blue;
    }
}
