.scoreboard-details {
    width: 100%;
    border-collapse: collapse;

    text-align: center;

    & th {
        border-right: 1px solid $avatar-placeholder;
        border-left: 1px solid $avatar-placeholder;
        border-radius: 4px;

        font-size: 0;

        & .scoreboard-details__face-placeholder {
            position: relative;

            width: 100%;
            margin: auto;
            border-radius: 4px;

            font-size: inherit;

            background: $avatar-placeholder;

            overflow: hidden;

            & > img {
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);

                width: 100%;
            }
        }

        & .scoreboard-details__face-placeholder {

            &:before {
                display: block;
                padding-top: 100%;

                content: "";
            }

            &.blonde {
                color: $dark;
                background: $guest-blonde;
            }

            &.orange {
                background: $guest-orange;
            }

            &.pink {
                background: $guest-pink;
            }

            &.white {
                border: 1px solid #000;

                color: $dark;
                background: $guest-white;
            }

            &.brown {
                background: $guest-brown;
            }

            &.blue {
                background: $guest-blue;
            }

            &.green {
                background: $guest-green;
            }

            &.purple {
                background: $guest-purple;
            }
        }
    }

    & td {
        padding-bottom: 5px;
        border-right: 1px solid $avatar-placeholder;
        border-left: 1px solid $avatar-placeholder;

        font-size: 18px;
        vertical-align: middle;
    }
}
