<ion-view view-title="{{ 'HOME.GAME.VIEW-TITLE' | translate }}">
  <ion-content>
    <div class="game-board">
        <div class="row">
            <div class="col col-66">
                <div class="game-board-cell game-board-cell--scoreboard" ng-click="game.scoreDetailsModal.show()">
                    <div class="row">
                        <div class="col col-{{game.scoreboard.colWidthPercentage}}" ng-repeat="player in game.scoreboard.rowOne">
                            <div class="game-board-cell {{player.guestColor}}" ng-class="{'guest': player.guestColor, 'has-avatar': player.face, 'active': player === game.activePlayer}">
                                <span>{{player.score}}</span>
                                <img ng-if="player.face" ng-src="{{player.face}}">
                            </div>
                        </div>
                    </div>
                    <div ng-if="game.scoreboard.rowTwo.length" class="row">
                        <div class="col col-{{game.scoreboard.colWidthPercentage}}" ng-repeat="player in game.scoreboard.rowTwo">
                            <div class="game-board-cell {{player.guestColor}}" ng-class="{'guest': player.guestColor, 'has-avatar': player.face, 'active': player === game.activePlayer}">
                                <span>{{player.score}}</span>
                                <img ng-if="player.face" ng-src="{{player.face}}">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col col-33">
                <div class="game-board-cell game-board-cell--settings" ng-click="game.showActionSheet()">
                    <button class="button button-icon icon ion-ios-gear-outline"></button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col col-66">
                <div class="game-board-cell game-board-cell--player" ng-class="{'active': game.activatedScore > -1}" ng-click="game.processThrow();">
                    <ion-item class="item-avatar item-icon-right" type="item-text-wrap">
                        <img ng-if="game.activePlayer.face"  ng-src="{{game.activePlayer.face}}">
                        <div ng-if="!game.activePlayer.face" class="item-avatar__face-placeholder {{game.activePlayer.guestColor}}"></div>
                        <h2>{{game.activePlayer.firstName}} {{game.activePlayer.lastName}}</h2>
                        <p>
                            <i ng-if="game.activatedScore > -1">{{game.activatedScore}}</i>
                            <span ng-repeat="throw in game.activePlayer.scoreHistory track by $index">
                                <i ng-if="$index > 0"> &#124; </i>
                                {{throw}}
                            </span>
                        </p>
                        <i ng-show="game.activatedScore > -1" class="icon ion-chevron-right icon-accessory"></i>
                      </ion-item>
                </div>
            </div>
            <div class="col col-33">
                <div class="game-board-cell game-board-cell--score" ng-class="{'active': game.activatedScore === 0}" ng-click="game.activateScore(0)">
                    0
                </div>
            </div>
        </div>
        <!-- buttons 1 - 12 -->
        <div class="row" ng-repeat="i in [0, 1, 2, 3] track by $index">
            <div class="col col-33" ng-repeat="j in [1, 2, 3] track by $index">
                <div class="game-board-cell game-board-cell--score" ng-class="{'active': game.activatedScore === i*3 + j}" ng-click="game.activateScore(i*3 + j)">
                    {{i*3 + j}}
                </div>
            </div>
        </div>
    </div>
  </ion-content>
</ion-view>
