<ion-modal-view>
    <ion-header-bar class="bar bar-header bar-positive">
        <h1 class="title">Score details</h1>
        <button class="button" ng-click="game.scoreDetailsModal.hide()">Close</button>
    </ion-header-bar>
    <ion-content class="padding">
        testing score details modal
    </ion-content>
    <ion-footer-bar>
        <button class="button button-outline button-dark" ng-click="">Exit</button>
        <button class="button button-outline button-dark" ng-click="">New game</button>
        <button class="button button-positive pull-right" ng-click="">Continue</button>
    </ion-footer-bar>
</ion-modal-view>
