<ion-modal-view>
    <ion-header-bar class="bar bar-header bar-positive">
        <h1 class="title">{{ 'HOME.PLAYERS.EDIT-PLAYER-MODAL.TITLE' | translate }}</h1>
    </ion-header-bar>
    <ion-content>
        <div class="add-avatar-block">
            <div class="avatar-block__avatar" ng-if="viewModel.player.face">
                <img ng-src="{{viewModel.player.face}}">
            </div>
            <div ng-if="!viewModel.player.face" class="row add-avatar-block__placeholder">
                <div class="col col-center">
                    {{ 'HOME.PLAYERS.EDIT-PLAYER-MODAL.AVATAR-PLACEHOLDER' | translate }}
                </div>
            </div>
            <div class="add-avatar-block__buttons clearfix">
                <button class="button button-icon icon ion-images" ng-click="viewModel.takePicture(true)"></button>
                <button ng-if="viewModel.player.face" class="button button-icon icon ion-trash-a" ng-click="viewModel.removeAvatar()"></button>
                <button class="button button-icon icon ion-camera" ng-click="viewModel.takePicture(false)"></button>
            </div>
        </div>
        <form name="editPlayerForm" ng-submit="viewModel.confirmPlayer($event)" novalidate>
            <div class="list">
                <label class="item item-input item-input--text item-floating-label">
                    <span class="input-label">{{ 'HOME.PLAYERS.EDIT-PLAYER-MODAL.INPUT-FIRST-NAME' | translate }}</span>
                    <input type="text" name="firstName" ng-model="viewModel.player.firstName" placeholder="{{ 'HOME.PLAYERS.EDIT-PLAYER-MODAL.INPUT-FIRST-NAME' | translate }}">
                </label>
                <label class="item item-input item-input--text item-floating-label">
                    <span class="input-label">{{ 'HOME.PLAYERS.EDIT-PLAYER-MODAL.INPUT-LAST-NAME' | translate }}</span>
                    <input type="text" name="lastName" ng-model="viewModel.player.lastName" placeholder="{{ 'HOME.PLAYERS.EDIT-PLAYER-MODAL.INPUT-LAST-NAME' | translate }}">
                </label>
                <label class="item item-input item-input--text item-floating-label">
                    <span class="input-label">{{ 'HOME.PLAYERS.EDIT-PLAYER-MODAL.INPUT-TAGLINE' | translate }}</span>
                    <input type="text" ng-model="viewModel.player.tagline" placeholder="{{ 'HOME.PLAYERS.EDIT-PLAYER-MODAL.INPUT-TAGLINE' | translate }}">
                </label>
            </div>
            <button type="submit" style="position: absolute; visibility:hidden;"></button>
        </form>
    </ion-content>
    <ion-footer-bar>
        <button class="button button-positive pull-right" ng-disabled="editPlayerForm.$invalid" ng-click="viewModel.confirmPlayer($event)">{{ 'HOME.PLAYERS.EDIT-PLAYER-MODAL.BUTTON-ADD-PLAYER' | translate }}</button>
    </ion-footer-bar>
</ion-modal-view>
