<ion-modal-view>
    <form name="addPlayerForm" novalidate>
        <ion-header-bar class="bar bar-header bar-positive">
            <h1 class="title">{{ 'HOME.PLAYERS.ADD-PLAYER-MODAL.TITLE' | translate }}</h1>
            <button class="button" ng-click="viewModel.cancelPlayer()">{{ 'HOME.PLAYERS.ADD-PLAYER-MODAL.BUTTON-CANCEL' | translate }}</button>
        </ion-header-bar>
        <ion-content>
            <div class="add-avatar-block">
                <div class="avatar-block__avatar" ng-if="viewModel.player.face">
                    <img ng-src="{{viewModel.player.face}}">
                </div>
                <div ng-if="!viewModel.player.face" class="row add-avatar-block__placeholder">
                    <div class="col col-center">
                        {{ 'HOME.PLAYERS.ADD-PLAYER-MODAL.AVATAR-PLACEHOLDER' | translate }}
                    </div>
                </div>
                <div class="add-avatar-block__buttons clearfix">
                    <button class="button button-icon icon ion-images" ng-click="viewModel.takePicture(true)"></button>
                    <button ng-if="viewModel.player.face" class="button button-icon icon ion-trash-a" ng-click="viewModel.removeAvatar()"></button>
                    <button class="button button-icon icon ion-camera" ng-click="viewModel.takePicture(false)"></button>
                </div>
            </div>
            <div class="list">
                <label class="item item-input item-input--text item-floating-label">
                    <span class="input-label">{{ 'HOME.PLAYERS.ADD-PLAYER-MODAL.INPUT-FIRST-NAME' | translate }}</span>
                    <input type="text" name="firstName" ng-model="viewModel.player.firstName" placeholder="{{ 'HOME.PLAYERS.ADD-PLAYER-MODAL.INPUT-FIRST-NAME' | translate }}*" required>
                </label>
                <label class="item item-input item-input--text item-floating-label">
                    <span class="input-label">{{ 'HOME.PLAYERS.ADD-PLAYER-MODAL.INPUT-LAST-NAME' | translate }}</span>
                    <input type="text" name="lastName" ng-model="viewModel.player.lastName" placeholder="{{ 'HOME.PLAYERS.ADD-PLAYER-MODAL.INPUT-LAST-NAME' | translate }}*" required>
                </label>
                <label class="item item-input item-input--text item-floating-label">
                    <span class="input-label">{{ 'HOME.PLAYERS.ADD-PLAYER-MODAL.INPUT-TAGLINE' | translate }}</span>
                    <input type="text" ng-model="viewModel.player.tagline" placeholder="{{ 'HOME.PLAYERS.ADD-PLAYER-MODAL.INPUT-TAGLINE' | translate }}">
                </label>
            </div>
        </ion-content>
        <ion-footer-bar>
            <button class="button button-positive pull-right" ng-disabled="addPlayerForm.$invalid" ng-click="viewModel.confirmPlayer()">{{ 'HOME.PLAYERS.ADD-PLAYER-MODAL.BUTTON-ADD-PLAYER' | translate }}</button>
        </ion-footer-bar>
    </form>
</ion-modal-view>
