<ion-view view-title="{{ 'HOME.PLAYERS.VIEW-TITLE' | translate }}">
  <ion-nav-buttons side="primary">
    <button class="button button-icon icon ion-ios-minus-outline" ng-click="players.initDeleteButton('delete')"></button>
    <a class="padding-left button icon-left ion-person-stalker button-clear" ng-click="players.initDeleteButton('team')"></a>
  </ion-nav-buttons>
  <ion-nav-buttons side="secondary">
    <button class="button button-icon icon ion-ios-personadd-outline" ng-click="players.showPlayerModal()"></button>
  </ion-nav-buttons>
  <ion-content>
    <div ng-if="players.removeVisible && (players.deleteMode === 'team')" class="padding">
      <div class="item item-input-inset">
        <label class="item-input-wrapper">
          <input type="text" placeholder="{{ 'HOME.PLAYERS.CREATE-A-TEAM.PLACEHOLDER' | translate }}" ng-model="players.teamName">
        </label>
        <button class="button button-small" ng-disabled="!players.teamName.length" ng-click="players.submitTeam()">
          {{ 'HOME.PLAYERS.CREATE-A-TEAM.SUBMIT' | translate }}
        </button>
      </div>
    </div>
    <ion-list show-delete="players.removeVisible">
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="player in players.players | orderBy: 'firstName'" type="item-text-wrap" href="#/tab/players/{{player.id}}">
        <ion-delete-button
          ng-class="{
            'ion-minus-circled': (players.deleteMode === 'delete'),
            'ion-ios-circle-outline': (players.deleteMode === 'team') && !player.isSelected,
            'ion-ios-checkmark': (players.deleteMode === 'team') && player.isSelected
          }"
          ng-click="players.onClickDeleteButton(player)"
        >
        </ion-delete-button>
        <div ng-if="player.face" class="item-avatar__avatar">
            <img ng-src="{{player.face}}">
        </div>
        <div ng-if="!player.face" class="item-avatar__face-placeholder"></div>
        <h2>{{player.firstName}} {{player.lastName}}</h2>
        <p>{{player.tagline}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>
    <ion-list ng-if="players.teams.length" show-delete="players.removeVisible && players.deleteMode === 'delete'">
      <div class="item item-divider">
        {{ 'HOME.PLAYERS.LIST.TEAMS' | translate }}
      </div>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="team in players.teams | orderBy: 'name'" type="item-text-wrap" href="#/tab/players/t/{{team.id}}">
        <ion-delete-button class="ion-minus-circled" ng-click="players.deleteTeam(team)"></ion-delete-button>
        <div class="item-avatar__team-avatar" data-count="{{team.players.length}}">
            <div ng-repeat="player in team.players | orderBy: 'firstName'">
              <img ng-if="player.face" ng-src="{{player.face}}">
            </div>
        </div>
        <h2>{{team.name}}</h2>
        <p>
          <span ng-repeat="player in team.players">{{ $index > 0 ? ' / ' : '' }}{{player.firstName}}</span>
        </p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
