<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{playerDetail.player.firstName}} {{playerDetail.player.lastName}}">
    <ion-nav-buttons side="secondary">
        <button class="button button-icon ion-ios-compose-outline" ng-click="playerDetail.showPlayerModal(playerDetail.player)"></button>
    </ion-nav-buttons>
    <ion-content>
        <div class="avatar-block-wrapper">
            <div class="avatar-block">
                <div class="avatar-block__avatar" ng-if="playerDetail.player.face">
                    <img ng-src="{{playerDetail.player.face}}">
                </div>
                <div ng-if="!playerDetail.player.face" class="avatar-block__face-placeholder">
                    <i class="icon ion-help"></i>
                </div>
                <p class="avatar-block__name">
                    {{playerDetail.player.firstName}} {{playerDetail.player.lastName}}
                </p>
                <p class="avatar-block__tagline">
                    {{playerDetail.player.tagline}}
                </p>
            </div>
            <div class="row">
                <div class="col col-25" ng-repeat="donut in playerDetail.metricDonuts">
                    <div class="metric-donut">
                        <div class="metric-donut__circle">
                            <div class="metric-donut__circle__center">
                                <span class="metric-donut__circle__center__value">{{donut.value + donut.unit}}</span>
                            </div>
                            <div class="metric-donut__circle__bg-fill"></div>
                            <div class="metric-donut__circle__percentage-fill" style="height:{{donut.value}}%;"></div>
                        </div>
                    </div>
                    <span class="metric-donut__title">
                        {{ 'HOME.STATISTICS.METRICS.' + donut.translationId + '.VIEW-TITLE' | translate }}
                    </span>
                </div>
            </div>
        </div>
        <div class="padding">
            <ion-list>
                <div class="item item-divider">
                    {{ 'HOME.PLAYERS.DETAIL.PROFILE' | translate }}
                </div>
                <ion-item ng-repeat="item in playerDetail.profileData.profile">
                    {{item.title}}: {{item.value}}
                </ion-item>
                <div ng-if="playerDetail.profileData.memberOfTeams.length" class="item item-divider">
                    {{ 'HOME.PLAYERS.DETAIL.MEMBER-OF' | translate }}
                </div>
                <ion-item class="item-avatar" ng-repeat="team in playerDetail.profileData.memberOfTeams" type="item-text-wrap">
                    <div class="item-avatar__team-avatar" data-count="{{team.players.length}}">
                        <div ng-repeat="player in team.players | orderBy: 'firstName'">
                          <img ng-if="player.face" ng-src="{{player.face}}">
                        </div>
                    </div>
                    <h2>{{team.name}}</h2>
                    <p>
                      <span ng-repeat="player in team.players | orderBy: 'firstName'">{{ $index > 0 ? ' / ' : '' }}{{player.firstName}}</span>
                    </p>
                </ion-item>
                <div class="item item-divider">
                    {{ 'HOME.PLAYERS.DETAIL.STATISTICS' | translate }}
                </div>
                <ion-item ng-repeat="item in playerDetail.profileData.statistics">
                    {{item.title}}: {{item.value + item.unit}}
                </ion-item>
            </ion-list>
        </div>
    </ion-content>
</ion-view>
