<ion-view view-title="{{ 'HOME.GAME.VIEW-TITLE' | translate }}" hide-back-button="true">
  <ion-content>
    <div class="game-board">
        <div class="row">
            <div class="col col-66">
                <div id="scoreboard" class="game-board-cell game-board-cell--scoreboard" ng-click="game.showScoreDetailsModal($event)">
                    <div class="row">
                        <div class="col col-{{game.scoreboard.colWidthPercentage}}" ng-repeat="participant in game.scoreboard.rowOne">
                            <!-- single player mode -->
                            <div ng-if="!game.isTeamMode" class="game-board-cell {{participant.guestColor}}" ng-class="{'guest': participant.guestColor, 'has-avatar': participant.face, 'active': participant === game.activePlayer, 'winner': participant.endPosition === 1, 'finished': participant.endPosition > 1, 'disqualified': participant.disqualified}">
                                <span ng-if="participant.endPosition <= 0 && !participant.disqualified">{{participant.score}}</span>
                                <i ng-if="participant.endPosition > 0 || participant.disqualified" class="icon" ng-class="{'ion-trophy': participant.endPosition == 1, 'ion-checkmark': participant.endPosition > 1, 'ion-close': participant.disqualified}"></i>
                                <img ng-if="participant.face" ng-src="{{participant.face}}">
                            </div>
                            <!-- team mode -->
                            <div ng-if="game.isTeamMode" class="game-board-cell {{participant.guestColor}}" ng-class="{'guest': participant.guestColor, 'has-avatar': !participant.guestColor, 'active': participant === game.activePlayer, 'winner': participant.endPosition === 1, 'finished': participant.endPosition > 1, 'disqualified': participant.disqualified}">
                                <span ng-if="participant.endPosition <= 0 && !participant.disqualified">{{participant.score}}</span>
                                <i ng-if="participant.endPosition > 0 || participant.disqualified" class="icon" ng-class="{'ion-trophy': participant.endPosition == 1, 'ion-checkmark': participant.endPosition > 1, 'ion-close': participant.disqualified}"></i>
                                <div class="game-board-cell__avatar" data-count="{{participant.players.length}}">
                                    <div ng-repeat="player in participant.players  | orderBy: 'firstName'">
                                      <img ng-if="player.face" ng-src="{{player.face}}">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div ng-if="game.scoreboard.rowTwo.length" class="row">
                        <div class="col col-{{game.scoreboard.colWidthPercentage}}" ng-repeat="participant in game.scoreboard.rowTwo">
                            <!-- single player mode -->
                            <div ng-if="!game.isTeamMode" class="game-board-cell {{participant.guestColor}}" ng-class="{'guest': participant.guestColor, 'has-avatar': participant.face, 'active': participant === game.activePlayer, 'winner': participant.endPosition === 1, 'finished': participant.endPosition > 1, 'disqualified': participant.disqualified}">
                                <span ng-if="participant.endPosition <= 0 && !participant.disqualified">{{participant.score}}</span>
                                <i ng-if="participant.endPosition > 0 || participant.disqualified" class="icon" ng-class="{'ion-trophy': participant.endPosition == 1, 'ion-checkmark': participant.endPosition > 1, 'ion-close': participant.disqualified}"></i>
                                <img ng-if="participant.face" ng-src="{{participant.face}}">
                            </div>
                            <!-- team player mode -->
                            <div ng-if="game.isTeamMode" class="game-board-cell {{participant.guestColor}}" ng-class="{'guest': participant.guestColor, 'has-avatar': !participant.guestColor, 'active': participant === game.activePlayer, 'winner': participant.endPosition === 1, 'finished': participant.endPosition > 1, 'disqualified': participant.disqualified}">
                                <span ng-if="participant.endPosition <= 0 && !participant.disqualified">{{participant.score}}</span>
                                <i ng-if="participant.endPosition > 0 || participant.disqualified" class="icon" ng-class="{'ion-trophy': participant.endPosition == 1, 'ion-checkmark': participant.endPosition > 1, 'ion-close': participant.disqualified}"></i>
                                <div class="game-board-cell__avatar" data-count="{{participant.players.length}}">
                                    <div ng-repeat="player in participant.players  | orderBy: 'firstName'">
                                      <img ng-if="player.face" ng-src="{{player.face}}">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col col-33">
                <div id="settings" class="game-board-cell game-board-cell--settings" ng-click="game.showActionSheet($event)">
                    <button class="button button-icon icon ion-ios-gear-outline" ng-class="{'animate-spin': game.settingsAnimation}"></button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col col-66">
                <div id="player-cell" class="game-board-cell game-board-cell--player" ng-class="{'active': game.activatedScore.value > -1}" ng-click="game.processThrow($event);">
                    <ion-item class="item-avatar item-icon-right" type="item-text-wrap" ng-class="game.activePlayer.activatedAvatarStatus">
                        <!-- single player mode -->
                        <div ng-if="!game.isTeamMode && game.activePlayer.face" class="item-avatar__avatar">
                            <img ng-src="{{game.activePlayer.face}}">
                        </div>
                        <div ng-if="!game.isTeamMode && !game.activePlayer.face" class="item-avatar__face-placeholder {{game.activePlayer.guestColor}}"></div>
                        <h2 ng-if="!game.isTeamMode">{{game.activePlayer.firstName}} {{game.activePlayer.lastName}}</h2>
                        <!-- team mode -->
                        <div ng-if="game.isTeamMode && game.activePlayer.players[game.activePlayer.activeMemberIndex].face" class="item-avatar__avatar">
                            <img ng-src="{{game.activePlayer.players[game.activePlayer.activeMemberIndex].face}}">
                        </div>
                        <div ng-if="game.isTeamMode && game.activePlayer.guestColor" class="item-avatar__face-placeholder {{game.activePlayer.guestColor}}"></div>
                        <div ng-if="game.isTeamMode && !game.activePlayer.guestColor && !game.activePlayer.players[game.activePlayer.activeMemberIndex].face" class="item-avatar__face-placeholder"></div>
                        <h2 ng-if="game.isTeamMode && !game.activePlayer.guestColor">{{game.activePlayer.players[game.activePlayer.activeMemberIndex].firstName}} {{game.activePlayer.players[game.activePlayer.activeMemberIndex].lastName}}</h2>
                        <h2 ng-if="game.isTeamMode && game.activePlayer.guestColor">{{game.activePlayer.name}}</h2>
                        <p>
                            <span class="placeholder" ng-if="game.activatedScore.value === -1 && !game.activePlayer.scoreHistory.length">
                                {{ 'HOME.GAME.ACTIVE-PLAYER-CELL.SCORE-HISTORY-PLACEHOLDER' | translate }}
                            </span>
                            <span ng-if="game.activatedScore.value > -1">
                                <i ng-class="{'miss': !game.activatedScore.value}">&nbsp;{{game.activatedScore.value}}&nbsp;</i>
                                <i ng-if="game.activePlayer.scoreHistory.length">&#124;</i>
                            </span>
                            <span ng-repeat="throw in game.activePlayer.scoreHistory track by $index">
                                <i ng-if="$index > 0">&#124;</i>
                                <i ng-class="{'miss': !game.activePlayer.scoreHistory[$index].value}">&nbsp;{{throw.value}}&nbsp;</i>
                            </span>
                        </p>
                        <i ng-show="game.activatedScore.value > -1" class="icon ion-chevron-right icon-accessory"></i>
                    </ion-item>
                </div>
            </div>
            <div class="col col-33">
                <div class="game-board-cell game-board-cell--score zero" ng-class="{'active': game.activatedScore.value === 0}" ng-click="game.activateScore($event, 0)">
                    0
                </div>
            </div>
        </div>
        <!-- buttons 1 - 12 -->
        <div class="row" ng-repeat="i in [0, 1, 2, 3] track by $index">
            <div class="col col-33" ng-repeat="j in [1, 2, 3] track by $index">
                <div id="score-{{i*3 + j}}" class="game-board-cell game-board-cell--score" ng-class="{'active': game.activatedScore.value === i*3 + j, 'single-pin': game.activatedScore.singlePin || i*3 + j === 1}" ng-click="game.activateScore($event, i*3 + j)">
                    {{i*3 + j}}
                </div>
            </div>
        </div>
    </div>
  </ion-content>
</ion-view>
