<ion-modal-view>
    <ion-header-bar class="bar bar-header bar-positive">
        <h1 class="title">{{ 'HOME.GAME.SCORE-DETAILS-MODAL.TITLE' | translate }}</h1>
    </ion-header-bar>
    <div class="tabs-striped tabs-top tabs-background-positive tabs-color-light">
        <div class="tabs">
            <span class="tab-item active" ng-click="game.scoreDetailsModalActiveTabIndex = 0" ng-class="{'active': game.scoreDetailsModalActiveTabIndex === 0}">
                {{ 'HOME.GAME.SCORE-DETAILS-MODAL.TABS.SCORE-LIST.TITLE' | translate }}
            </span>
            <span class="tab-item" ng-click="game.scoreDetailsModalActiveTabIndex = 1" ng-class="{'active': game.scoreDetailsModalActiveTabIndex === 1}">
                {{ 'HOME.GAME.SCORE-DETAILS-MODAL.TABS.DETAILS.TITLE' | translate }}
            </span>
        </div>
    </div>
    <ion-content class="has-tabs-top">
        <div ng-show="game.scoreDetailsModalActiveTabIndex === 0">
            <ion-list>
                <ion-item class="item-avatar item-icon-right" ng-class="{'winner': participant.endPosition === 1, 'success': participant.endPosition > 1, 'error': participant.disqualified}" ng-repeat="participant in game.participants">
                <img ng-if="participant.face" ng-src="{{participant.face}}">
                <div ng-if="!participant.face" class="item-avatar__face-placeholder {{participant.guestColor}}"></div>
                <h2>{{participant.firstName}} {{participant.lastName}}</h2>
                <p>{{participant.tagline}}</p>
                <i class="icon note">
                    {{participant.score}}
                </i>
                </ion-item>
            </ion-list>
        </div>
        <div ng-show="game.scoreDetailsModalActiveTabIndex === 1">
            <div class="card padding">
                <table class="scoreboard-details">
                    <tr>
                        <th width="{{100/game.participants.length}}%" ng-repeat="participant in game.participants">
                            <img ng-if="participant.face" ng-src="{{participant.face}}">
                            <div ng-if="!participant.face" class="scoreboard-details__face-placeholder {{participant.guestColor}}"></div>
                        </th>
                    </tr>
                    <tr ng-repeat="i in game.getScoreboardDetailsRowIterator() track by $index">
                        <td ng-repeat="participant in game.participants">
                            {{participant.accumulatedScoreHistory[$parent.$index]}}
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </ion-content>
    <ion-footer-bar>
        <button class="button button-outline button-dark" ng-click="game.showExitGamePopup()">Exit</button>
        <button class="button button-outline button-dark" ng-click="game.showNewGamePopup()">New game</button>
        <button class="button button-positive pull-right" ng-disabled="game.gameEnded" ng-click="game.scoreDetailsModal.hide()">Continue</button>
    </ion-footer-bar>
</ion-modal-view>
